<h1>Showing Record: <%= @article.title %></h1>

<!--p tag refers to paragraph-->
<p>
  Title: <%= @article.title %>
</p>

<p>
  Notes: <%= @article.description %>
</p>

<p>
  <%= link_to "Edit this Record", edit_article_path(@article) %><br>
  <%= link_to "Back to Records", articles_path %>
</p>