<!DOCTYPE html>
<html>
<head>
  <!--Anything put in here will be displayed on every page!!! This is a wrapper-->
  <title>BetaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/messages' %>

  <%= yield %>

</body>
</html>
